.video {
	width:600px;
	height:300px;
}


.cards {
    perspective: 1200px; 
   }
   .card {
   	position: relative;
   	width:200px;
   	height:200px;

    
    transition: transform 2s;
    transform-style: preserve-3d; 
   }
   .card:hover {
    transform: rotateY(-180deg); 
   }
   .card-face {
   	border: 4px double black;
   	position: absolute; 
   	padding:50px;
   	border-radius:20px;
   	background:#7B68EE;
   
   	text-align:center;
    
    backface-visibility: hidden; 

   }
   .card-face.back {
   	border: 4px double black;
   	border-radius:20px;
    transform: rotateY(180deg); 
    background: #FFD700;
    color:black; 
    padding:50px;
   }



body
{
  margin: 0;
  padding: 0;
   

  background: #232323;
  color: #cdcdcd
}


