blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}


p.title {
	color:green;    /*Слабый приоритет*/
}


p#greycol {
	color:grey;
}
main>p:nth-child(odd) {
	color:green;
}
h3:nth-child(odd) {
	color:pink;
}
div>p {
	color:red;
}

p.yellow {
	color:yellow;
}

ul li {
	list-style-type: none;
	}

ul li:nth-child(1) {
	color:green;
}
ul li:nth-child(even) {
	font-size: 20px;
}

ul li:nth-child(odd) {
	font-size: 18px;
}
ul li:nth-child(3n) {
	background-color: yellow;
}
ul li:first-child {
	background-color: yellow;
}


a {text-decoration: none;
}

ul li {

}

h5 a:hover {
    background: yellow;
    }


a:hover .a {
  display: none;
}
a .b {
  display: none;
}
a:hover .b {
  display: inline;
}
a .a{
	color:green;
}

a .b {
color:green;
}
/*div ul li {
	
}*/
	div ul li:hover {
		background-color:green;
		font-weight: 20px;
	}
div ul li:hover {
	display:inline;
}

h7 {
	background-color:yellow;
}