.title {
	margin:0px 408px 0px 408px;
}
div img{
	float:left;
	margin:20px 50px 20px;
}
.text {
	position:relative;
	
}
.green {
	color:green;
}


.img {
	position:absolute;
	float:right;
	margin:20px 0px 20px 50px;
    right:408px;
 }
i sub {
	color:blue;
}

.blue {
	color:blue;


}
.blockquote {
	background-color:#0d5825;
	color:white; 
	border:none;
	text-align:center;
}


.blockquote cite {
    font-size: 15px;
    padding-top: 10px;
    display: block;
    border:none;
}

.cards
 {
 width:100%;
 height:400px;
 background-color: #0d5825;
 }

.card1 {
	position:relative;
	top: 30px; 
		left: 600px; 
		z-index: 10000;
		width:150px;
		transform:rotate(160deg);
	 }

.card2 {
	position:relative;
	left: 400px;
	 top: 25px;
	  z-index: 1000;
	  width:150px;
	  transform:rotate(180deg);

	 }

.card3 {
	position:relative;
	top:30px;
left: 260px; 
z-index: 1; 
width:150px;
transform:rotate(10deg);
}
.card3:hover {

    
   transition-property: top;
   top:-20px;
   transition:1s;

}

.card2:hover {

    
   transition-property: top;
   top:-20px;
   transition:1s;

}.card1:hover {

    
   transition-property: top;
   top:-20px;
   transition:1s;

}
.img1{
	position:relative;
	z-index:10;
	width:100px;
}
.img2{
	position:relative;
	top:30px;
	left:-150px;
	z-index:20;
	width:100px;
	
}
.img3{
	position:relative;
	top:50px;
	left:-290px;
	z-index:30;
	width:100px;
	
}
.img4{
	position:relative;
	top:90px;
	left:-420px;
	z-index:50;
	width:100px;
}



